---
title: FollowTrader
description: An easy way to trade
layout: layouts/base.njk
---
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative overflow-hidden bg-base-100">
  <div class="mx-auto max-w-7xl">
    <div style="max-width: 51rem;" class="relative z-10 pb-8 bg-base-100 sm:pb-16 md:pb-20 lg:w-full lg:pb-28 xl:pb-32">
      <svg class="absolute inset-y-0 right-0 hidden w-48 h-full transform translate-x-1/2 text-base-100 lg:block" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
        <polygon points="50,0 100,0 50,100 0,100" />
      </svg>

      <div x-data="{ open: false, focus: true }" >
        <div class="relative px-4 pt-6 sm:px-6 lg:px-8">
          <nav class="relative flex items-center justify-between sm:h-10 lg:justify-start" aria-label="Global">
            <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
              <div class="flex items-center justify-between w-full md:w-auto">
                <a href="#">
                  <span class="sr-only">Follow trader Bot</span>
                  <img class="w-14 h-14" src="./img/brand.svg">
                </a>
                <div class="flex items-center -mr-2 md:hidden">
                  <button @click="open=true" type="button" class="inline-flex items-center justify-center p-2 text-gray-400 bg-white rounded-md hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <!-- Heroicon name: outline/menu -->
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <div class="hidden md:block md:ml-10 md:pr-4 md:space-x-8">
              <a href="#features" class="font-medium text-base-content text-opacity-70 hover:text-opacity-100">Features</a>

              <a href="#extensions" class="font-medium text-base-content text-opacity-70 hover:text-opacity-100">Exchanges</a>

              <a href="#faq" class="font-medium text-base-content text-opacity-70 hover:text-opacity-100">Guides</a>

              <a href="#pricing" class="font-medium text-base-content text-opacity-70 hover:text-opacity-100">Subscription plans</a>

              <a href="#" class="btn btn-primary btn-sm">Telegram</a>
              <button data-toggle-theme="dark,light" x-ref="toggle" class="text-lg" data-act-class="dark-theme"><span>🌞</span></button>
              
            </div>
          </nav>
        </div>

        <!--
          Mobile menu, show/hide based on menu open state.

          Entering: "duration-150 ease-out"
            From: "opacity-0 scale-95"
            To: "opacity-100 scale-100"
          Leaving: "duration-100 ease-in"
            From: "opacity-100 scale-100"
            To: "opacity-0 scale-95"
        -->
        <div 
          x-show="open" x-transition:enter="duration-150 ease-out" x-transition:enter-start="opacity-0 scale-95" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="duration-100 ease-in" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-95" x-description="Mobile menu, show/hide based on menu open state." class="absolute inset-x-0 top-0 z-10 p-2 transition origin-top-right transform md:hidden" x-ref="panel" @click.away="open = false">
          <div class="overflow-hidden bg-white rounded-lg shadow-md ring-1 ring-black ring-opacity-5">
            <div class="flex items-center justify-between px-5 pt-4">
              <div>
                <img class="w-auto h-8" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="">
              </div>
              <div class="-mr-2">
                <button @click="open = !open" type="button" class="inline-flex items-center justify-center p-2 text-gray-400 bg-white rounded-md hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                  <span class="sr-only">Close main menu</span>
                  <!-- Heroicon name: outline/x -->
                  <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
            </div>
            <div class="px-2 pt-2 pb-3 space-y-1">
              <a href="#features" class="block px-3 py-2 text-base font-medium text-gray-700 rounded-md hover:text-gray-900 hover:bg-gray-50">Features</a>

              <a href="#exchanges" class="block px-3 py-2 text-base font-medium text-gray-700 rounded-md hover:text-gray-900 hover:bg-gray-50">Exchanges</a>

              <a href="#faq" class="block px-3 py-2 text-base font-medium text-gray-700 rounded-md hover:text-gray-900 hover:bg-gray-50">Guides</a>

              <a href="#pricing" class="block px-3 py-2 text-base font-medium text-gray-700 rounded-md hover:text-gray-900 hover:bg-gray-50">Subscription plans</a>
            </div>
            <a href="#" class="block w-full px-5 py-3 font-medium text-center text-indigo-600 bg-gray-50 hover:bg-gray-100">
              Telegram support
            </a>
          </div>
        </div>
      </div>

      <main class="px-4 mx-auto mt-10 max-w-7xl sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
        <div class="sm:text-center lg:text-left">
          <div class="text-2xl font-extrabold uppercase text-primary">Follow trader BOT</div>
          <h1 class="text-4xl font-extrabold tracking-tight text-base-content sm:text-5xl md:text-6xl">
            <span class="block xl:inline">An easy way</span>
            <span class="block text-primary xl:inline">to trade</span>
          </h1>
          <p class="mt-3 text-base text-base-content text-opacity-70 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
            Use the Follow or AutoFollow functions to replicate signal forwarded by our Telegram Bot, Use the Follow or AutoFollow functions to replicate signal forwarded by our Telegram Bot.
          </p>
          <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
            <a href="#" class="btn btn-lg btn-primary">
              Get started
            </a>
            <div class="mt-3 sm:mt-0 sm:ml-3">
              <a href="#" class="btn btn-outline btn-secondary btn-lg">
                Live demo
              </a>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-2/5">
    <img class="object-cover w-full h-56 sm:h-72 md:h-96 lg:w-full lg:h-full" src="https://images.unsplash.com/photo-1551434678-e076c223a692?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80" alt="">
  </div>
</div>





<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-neutral-focus">
  <div class="px-4 py-16 mx-auto max-w-7xl sm:py-24 sm:px-6 lg:px-8">
    <div class="items-center lg:grid lg:grid-cols-2 lg:gap-8">
      <h2 class="max-w-md mx-auto text-3xl font-extrabold text-center text-neutral-content lg:max-w-xl lg:text-left">
        We use the most secure and advanced crypto exchanges
      </h2>
      <div class="self-center flow-root mt-8 lg:mt-0">
        <div class="flex flex-wrap items-center -mt-4 -ml-8 space-x-12 justify-items-stretch lg:-ml-4">
          <div class="flex justify-center flex-grow flex-shrink-0 mt-4 ml-8 lg:flex-grow-0 lg:ml-4">
            <img class="h-40" src="./img/Binance-Logo.wine.png" alt="Workcation">
          </div>
          <div class="relative flex justify-center flex-grow flex-shrink-0 mt-4 ml-8 lg:flex-grow-0 lg:ml-4">
            <img class="h-24" src="./img/ftx.png" alt="Tuple">
            <div class="absolute top-0 right-0 badge badge-secondary">Coming soon</div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- This example requires Tailwind CSS v2.0+ -->
<div x-data="{tab: 'trades'}" class="bg-base-100">
  <div class="px-4 py-16 mx-auto max-w-7xl sm:py-24 sm:px-6 lg:px-8">
    <div class="text-center">
      <div style="width: 1px;" class="h-24 mx-auto mb-4 bg-primary"></div>

      <h2 class="text-base font-semibold tracking-wide uppercase text-primary">What we do</h2>
      <p class="mt-2 text-3xl font-extrabold tracking-tight text-base-content sm:text-4xl">Have total control</p>
      <p class="mx-auto mt-5 text-xl text-base-content text-opacity-70 max-w-prose">Start building for free, then add a site plan to go live. Account plans unlock additional features.</p>
    </div>

    <div class="flex w-full mx-auto mt-10">

      <div class="items-center hidden mx-auto place-content-center sm:flex">
        <nav class="flex space-x-4" aria-label="Tabs">
          <!-- Current: "bg-gray-100 text-gray-700", Default: "text-gray-500 hover:text-gray-700" -->
          <button @click="tab='trades'" :class="{ 'bg-gray-100 text-gray-700': tab === 'trades' }" class="flex-1 px-3 py-2 text-xl font-medium text-gray-500 rounded-md hover:text-gray-700">
            Trades
          </button>
  
          <button @click="tab='portfolio'" :class="{ 'bg-gray-100 text-gray-700': tab === 'portfolio' }" class="flex-1 px-3 py-2 text-xl font-medium text-gray-500 rounded-md hover:text-gray-700">
            Portfolio
          </button>
  
          <button @click="tab='markets'" :class="{ 'bg-gray-100 text-gray-700': tab === 'markets' }"  class="flex-1 px-3 py-2 text-xl font-medium text-gray-500 rounded-md hover:text-gray-700">
            Markets
          </button>
  
         
        </nav>
      </div>
    </div>
    
    
    <dl x-show="tab === 'trades'" class="mt-16 space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 lg:grid-cols-4 lg:gap-x-8">
      <div class="relative">
        <dt>
          <!-- Heroicon name: outline/check -->
          <svg class="absolute w-6 h-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <p class="text-lg font-medium leading-6 text-gray-900 ml-9">Invite team members</p>
        </dt>
        <dd class="mt-2 text-base text-gray-500 ml-9">
          Tempor tellus in aliquet eu et sit nulla tellus. Suspendisse est, molestie blandit quis ac. Lacus.
        </dd>
      </div>

      <div class="relative">
        <dt>
          <!-- Heroicon name: outline/check -->
          <svg class="absolute w-6 h-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <p class="text-lg font-medium leading-6 text-gray-900 ml-9">Notifications</p>
        </dt>
        <dd class="mt-2 text-base text-gray-500 ml-9">
          Ornare donec rhoncus vitae nisl velit, neque, mauris dictum duis. Nibh urna non parturient.
        </dd>
      </div>

      <div class="relative">
        <dt>
          <!-- Heroicon name: outline/check -->
          <svg class="absolute w-6 h-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <p class="text-lg font-medium leading-6 text-gray-900 ml-9">List view</p>
        </dt>
        <dd class="mt-2 text-base text-gray-500 ml-9">
          Etiam cras augue ornare pretium sit malesuada morbi orci, venenatis. Dictum lacus.
        </dd>
      </div>

      <div class="relative">
        <dt>
          <!-- Heroicon name: outline/check -->
          <svg class="absolute w-6 h-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <p class="text-lg font-medium leading-6 text-gray-900 ml-9">Boards</p>
        </dt>
        <dd class="mt-2 text-base text-gray-500 ml-9">
          Interdum quam pulvinar turpis tortor, egestas quis diam amet, natoque. Mauris sagittis.
        </dd>
      </div>

    </dl>

    <dl x-show="tab === 'portfolio'" class="mt-16 space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 lg:grid-cols-4 lg:gap-x-8">
      <div class="relative">
        <dt>
          <!-- Heroicon name: outline/check -->
          <svg class="absolute w-6 h-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <p class="text-lg font-medium leading-6 text-gray-900 ml-9">Invite reaea members</p>
        </dt>
        <dd class="mt-2 text-base text-gray-500 ml-9">
          Tempor tellus in aliquet eu et sit nulla tellus. Suspendisse est, molestie blandit quis ac. Lacus.
        </dd>
      </div>

      <div class="relative">
        <dt>
          <!-- Heroicon name: outline/check -->
          <svg class="absolute w-6 h-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <p class="text-lg font-medium leading-6 text-gray-900 ml-9">Notifications</p>
        </dt>
        <dd class="mt-2 text-base text-gray-500 ml-9">
          Ornare donec rhoncus vitae nisl velit, neque, mauris dictum duis. Nibh urna non parturient.
        </dd>
      </div>

      <div class="relative">
        <dt>
          <!-- Heroicon name: outline/check -->
          <svg class="absolute w-6 h-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <p class="text-lg font-medium leading-6 text-gray-900 ml-9">List view</p>
        </dt>
        <dd class="mt-2 text-base text-gray-500 ml-9">
          Etiam cras augue ornare pretium sit malesuada morbi orci, venenatis. Dictum lacus.
        </dd>
      </div>

      <div class="relative">
        <dt>
          <!-- Heroicon name: outline/check -->
          <svg class="absolute w-6 h-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <p class="text-lg font-medium leading-6 text-gray-900 ml-9">Boards</p>
        </dt>
        <dd class="mt-2 text-base text-gray-500 ml-9">
          Interdum quam pulvinar turpis tortor, egestas quis diam amet, natoque. Mauris sagittis.
        </dd>
      </div>

    </dl>

    <dl x-show="tab === 'markets'" class="mt-16 space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 lg:grid-cols-4 lg:gap-x-8">
      <div class="relative">
        <dt>
          <!-- Heroicon name: outline/check -->
          <svg class="absolute w-6 h-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <p class="text-lg font-medium leading-6 text-gray-900 ml-9">Invite team members</p>
        </dt>
        <dd class="mt-2 text-base text-gray-500 ml-9">
          Tempor tellus in aliquet eu et sit nulla tellus. Suspendisse est, molestie blandit quis ac. Lacus.
        </dd>
      </div>

      <div class="relative">
        <dt>
          <!-- Heroicon name: outline/check -->
          <svg class="absolute w-6 h-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <p class="text-lg font-medium leading-6 text-gray-900 ml-9">Notifications</p>
        </dt>
        <dd class="mt-2 text-base text-gray-500 ml-9">
          Ornare donec rhoncus vitae nisl velit, neque, mauris dictum duis. Nibh urna non parturient.
        </dd>
      </div>

      <div class="relative">
        <dt>
          <!-- Heroicon name: outline/check -->
          <svg class="absolute w-6 h-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <p class="text-lg font-medium leading-6 text-gray-900 ml-9">List view</p>
        </dt>
        <dd class="mt-2 text-base text-gray-500 ml-9">
          Etiam cras augue ornare pretium sit malesuada morbi orci, venenatis. Dictum lacus.
        </dd>
      </div>

      <div class="relative">
        <dt>
          <!-- Heroicon name: outline/check -->
          <svg class="absolute w-6 h-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <p class="text-lg font-medium leading-6 text-gray-900 ml-9">Boards</p>
        </dt>
        <dd class="mt-2 text-base text-gray-500 ml-9">
          Interdum quam pulvinar turpis tortor, egestas quis diam amet, natoque. Mauris sagittis.
        </dd>
      </div>

    </dl>

    
  </div>



</div>



<!-- This example requires Tailwind CSS v2.0+ -->
<div id="features" class="relative py-16 bg-base-100 sm:py-16 lg:py-16">
  <div class="max-w-md px-4 mx-auto text-center sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl">
    <div style="width: 1px;" class="h-24 mx-auto mb-4 bg-primary"></div>

    <h2 class="text-base font-semibold tracking-wider uppercase text-primary">Explore</h2>
    <p class="mt-2 text-3xl font-extrabold tracking-tight text-base-content sm:text-4xl">
      Follow trader bot unique features
    </p>
    <p class="mx-auto mt-5 text-xl text-base-content text-opacity-70 max-w-prose">
      Phasellus lorem quam molestie id quisque diam aenean nulla in. Accumsan in quis quis nunc, ullamcorper malesuada. Eleifend condimentum id viverra nulla.
    </p>
    <div class="mt-12">
      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
        

        <div class="pt-6">
          <div class="flow-root px-6 pb-8 rounded-lg bg-base-200">
            <div class="-mt-6">
              <div>
                <span class="inline-flex items-center justify-center p-3 rounded-md shadow-lg bg-primary">
                  <!-- Heroicon name: outline/cloud-upload -->
                  <svg class="w-6 h-6 text-neutral-content" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
                  </svg>
                </span>
              </div>
              <h3 class="mt-8 text-lg font-medium tracking-tight text-base-content">Follow mode</h3>
              <p class="mt-5 text-base text-base-content text-opacity-70">
                Ac tincidunt sapien vehicula erat auctor pellentesque rhoncus. Et magna sit morbi lobortis.
              </p>
            </div>
          </div>
        </div>

        <div class="pt-6">
          <div class="flow-root px-6 pb-8 rounded-lg bg-base-200">
            <div class="-mt-6">
              <div>
                <span class="inline-flex items-center justify-center p-3 rounded-md shadow-lg bg-primary">
                  <!-- Heroicon name: outline/cloud-upload -->
                  <svg class="w-6 h-6 text-neutral-content" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
                  </svg>
                </span>
              </div>
              <h3 class="mt-8 text-lg font-medium tracking-tight text-base-content">Autofollow mode</h3>
              <p class="mt-5 text-base text-base-content text-opacity-70">
                Ac tincidunt sapien vehicula erat auctor pellentesque rhoncus. Et magna sit morbi lobortis.
              </p>
            </div>
          </div>
        </div>

        <div class="pt-6">
          <div class="flow-root px-6 pb-8 rounded-lg bg-base-200">
            <div class="-mt-6">
              <div>
                <span class="inline-flex items-center justify-center p-3 rounded-md shadow-lg bg-primary">
                  <!-- Heroicon name: outline/cloud-upload -->
                  <svg class="w-6 h-6 text-neutral-content" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
                  </svg>
                </span>
              </div>
              <h3 class="mt-8 text-lg font-medium tracking-tight text-base-content">Engaging community</h3>
              <p class="mt-5 text-base text-base-content text-opacity-70">
                Ac tincidunt sapien vehicula erat auctor pellentesque rhoncus. Et magna sit morbi lobortis.
              </p>
            </div>
          </div>
        </div>

        <div class="pt-6">
          <div class="flow-root px-6 pb-8 rounded-lg bg-base-200">
            <div class="-mt-6">
              <div>
                <span class="inline-flex items-center justify-center p-3 rounded-md shadow-lg bg-primary">
                  <!-- Heroicon name: outline/cloud-upload -->
                  <svg class="w-6 h-6 text-neutral-content" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
                  </svg>
                </span>
              </div>
              <h3 class="mt-8 text-lg font-medium tracking-tight text-base-content">Precise market updates</h3>
              <p class="mt-5 text-base text-base-content text-opacity-70">
                Ac tincidunt sapien vehicula erat auctor pellentesque rhoncus. Et magna sit morbi lobortis.
              </p>
            </div>
          </div>
        </div>

        <div class="pt-6">
          <div class="flow-root px-6 pb-8 rounded-lg bg-base-200">
            <div class="-mt-6">
              <div>
                <span class="inline-flex items-center justify-center p-3 rounded-md shadow-lg bg-primary">
                  <!-- Heroicon name: outline/cloud-upload -->
                  <svg class="w-6 h-6 text-neutral-content" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
                  </svg>
                </span>
              </div>
              <h3 class="mt-8 text-lg font-medium tracking-tight text-base-content">Courses</h3>
              <p class="mt-5 text-base text-base-content text-opacity-70">
                Ac tincidunt sapien vehicula erat auctor pellentesque rhoncus. Et magna sit morbi lobortis.
              </p>
            </div>
          </div>
        </div>

        <div class="pt-6">
          <div class="flow-root px-6 pb-8 rounded-lg bg-base-200">
            <div class="-mt-6">
              <div>
                <span class="inline-flex items-center justify-center p-3 rounded-md shadow-lg bg-primary">
                  <!-- Heroicon name: outline/cloud-upload -->
                  <svg class="w-6 h-6 text-neutral-content" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
                  </svg>
                </span>
              </div>
              <h3 class="mt-8 text-lg font-medium tracking-tight text-base-content">Vocal chats</h3>
              <p class="mt-5 text-base text-base-content text-opacity-70">
                Ac tincidunt sapien vehicula erat auctor pellentesque rhoncus. Et magna sit morbi lobortis.
              </p>
            </div>
          </div>
        </div>

      
      </div>
    </div>
  </div>
</div>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-base-200">
  <div class="px-4 py-16 mx-auto max-w-7xl sm:py-24 sm:px-6 lg:px-8">
    <div class="text-center">
      <h2 class="text-base font-semibold tracking-wide uppercase text-primary">Professional</h2>
      <p class="mt-2 text-3xl font-extrabold tracking-tight text-base-content sm:text-4xl">Trade crypto on autopilot.</p>
      <p class="max-w-xl mx-auto mt-5 text-xl text-base-content text-opacity-80">Start building for free, then add a site plan to go live. Account plans unlock additional features.</p>
    </div>

    <!-- This example requires Tailwind CSS v2.0+ -->
<div class="mt-12">

  <dl class="grid grid-cols-1 gap-5 mt-5 sm:grid-cols-2 lg:grid-cols-3">

    <div class="relative flex items-center px-4 py-5 overflow-hidden rounded-lg shadow bg-base-100 sm:pt-6 sm:px-6">
      <div class="flex-1">
        <dt>
          <div class="absolute p-3 shadow rounded-box bg-neutral-content">
            <!-- Heroicon name: outline/mail-open -->
            <img src="img/polkadot-new-dot-logo.png" class="w-6 h-6 " />
            <!-- <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 19v-8.93a2 2 0 01.89-1.664l7-4.666a2 2 0 012.22 0l7 4.666A2 2 0 0121 10.07V19M3 19a2 2 0 002 2h14a2 2 0 002-2M3 19l6.75-4.5M21 19l-6.75-4.5M3 10l6.75 4.5M21 10l-6.75 4.5m0 0l-1.14.76a2 2 0 01-2.22 0l-1.14-.76" />
            </svg> -->
          </div>
          <p class="ml-16 text-sm font-medium truncate text-base-content text-opacity-80">Crypto</p>
        </dt>
        <dd class="flex items-baseline ml-16 ">
          <p class="text-2xl font-semibold text-base-content">
            Polkadot
          </p>
          
        </dd>
      </div>
      <div class="">
        <p class="flex items-baseline ml-2 text-2xl font-semibold text-green-500">
          <!-- Heroicon name: solid/arrow-sm-up -->
          <svg class="self-center flex-shrink-0 w-6 h-6 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">
            Increased by
          </span>
          5.4%
        </p>
      </div>
    </div>

    <div class="relative flex items-center px-4 py-5 overflow-hidden rounded-lg shadow bg-base-100 sm:pt-6 sm:px-6">
      <div class="flex-1">
        <dt>
          <div class="absolute p-3 shadow rounded-box bg-neutral-content">
            <!-- Heroicon name: outline/mail-open -->
            <img src="img/polkadot-new-dot-logo.png" class="w-6 h-6 " />
            <!-- <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 19v-8.93a2 2 0 01.89-1.664l7-4.666a2 2 0 012.22 0l7 4.666A2 2 0 0121 10.07V19M3 19a2 2 0 002 2h14a2 2 0 002-2M3 19l6.75-4.5M21 19l-6.75-4.5M3 10l6.75 4.5M21 10l-6.75 4.5m0 0l-1.14.76a2 2 0 01-2.22 0l-1.14-.76" />
            </svg> -->
          </div>
          <p class="ml-16 text-sm font-medium truncate text-base-content text-opacity-80">Crypto</p>
        </dt>
        <dd class="flex items-baseline ml-16 ">
          <p class="text-2xl font-semibold text-base-content">
            Polkadot
          </p>
          
        </dd>
      </div>
      <div class="">
        <p class="flex items-baseline ml-2 text-2xl font-semibold text-green-500">
          <!-- Heroicon name: solid/arrow-sm-up -->
          <svg class="self-center flex-shrink-0 w-6 h-6 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">
            Increased by
          </span>
          5.4%
        </p>
      </div>
    </div>

    <div class="relative flex items-center px-4 py-5 overflow-hidden rounded-lg shadow bg-base-100 sm:pt-6 sm:px-6">
      <div class="flex-1">
        <dt>
          <div class="absolute p-3 shadow rounded-box bg-neutral-content">
            <!-- Heroicon name: outline/mail-open -->
            <img src="img/polkadot-new-dot-logo.png" class="w-6 h-6 " />
            <!-- <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 19v-8.93a2 2 0 01.89-1.664l7-4.666a2 2 0 012.22 0l7 4.666A2 2 0 0121 10.07V19M3 19a2 2 0 002 2h14a2 2 0 002-2M3 19l6.75-4.5M21 19l-6.75-4.5M3 10l6.75 4.5M21 10l-6.75 4.5m0 0l-1.14.76a2 2 0 01-2.22 0l-1.14-.76" />
            </svg> -->
          </div>
          <p class="ml-16 text-sm font-medium truncate text-base-content text-opacity-80">Crypto</p>
        </dt>
        <dd class="flex items-baseline ml-16 ">
          <p class="text-2xl font-semibold text-base-content">
            Polkadot
          </p>
          
        </dd>
      </div>
      <div class="">
        <p class="flex items-baseline ml-2 text-2xl font-semibold text-green-500">
          <!-- Heroicon name: solid/arrow-sm-up -->
          <svg class="self-center flex-shrink-0 w-6 h-6 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">
            Increased by
          </span>
          5.4%
        </p>
      </div>
    </div>

    <div class="relative flex items-center px-4 py-5 overflow-hidden rounded-lg shadow bg-base-100 sm:pt-6 sm:px-6">
      <div class="flex-1">
        <dt>
          <div class="absolute p-3 shadow rounded-box bg-neutral-content">
            <!-- Heroicon name: outline/mail-open -->
            <img src="img/polkadot-new-dot-logo.png" class="w-6 h-6 " />
            <!-- <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 19v-8.93a2 2 0 01.89-1.664l7-4.666a2 2 0 012.22 0l7 4.666A2 2 0 0121 10.07V19M3 19a2 2 0 002 2h14a2 2 0 002-2M3 19l6.75-4.5M21 19l-6.75-4.5M3 10l6.75 4.5M21 10l-6.75 4.5m0 0l-1.14.76a2 2 0 01-2.22 0l-1.14-.76" />
            </svg> -->
          </div>
          <p class="ml-16 text-sm font-medium truncate text-base-content text-opacity-80">Crypto</p>
        </dt>
        <dd class="flex items-baseline ml-16 ">
          <p class="text-2xl font-semibold text-base-content">
            Polkadot
          </p>
          
        </dd>
      </div>
      <div class="">
        <p class="flex items-baseline ml-2 text-2xl font-semibold text-green-500">
          <!-- Heroicon name: solid/arrow-sm-up -->
          <svg class="self-center flex-shrink-0 w-6 h-6 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">
            Increased by
          </span>
          5.4%
        </p>
      </div>
    </div>

    <div class="relative flex items-center px-4 py-5 overflow-hidden rounded-lg shadow bg-base-100 sm:pt-6 sm:px-6">
      <div class="flex-1">
        <dt>
          <div class="absolute p-3 shadow rounded-box bg-neutral-content">
            <!-- Heroicon name: outline/mail-open -->
            <img src="img/polkadot-new-dot-logo.png" class="w-6 h-6 " />
            <!-- <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 19v-8.93a2 2 0 01.89-1.664l7-4.666a2 2 0 012.22 0l7 4.666A2 2 0 0121 10.07V19M3 19a2 2 0 002 2h14a2 2 0 002-2M3 19l6.75-4.5M21 19l-6.75-4.5M3 10l6.75 4.5M21 10l-6.75 4.5m0 0l-1.14.76a2 2 0 01-2.22 0l-1.14-.76" />
            </svg> -->
          </div>
          <p class="ml-16 text-sm font-medium truncate text-base-content text-opacity-80">Crypto</p>
        </dt>
        <dd class="flex items-baseline ml-16 ">
          <p class="text-2xl font-semibold text-base-content">
            Polkadot
          </p>
          
        </dd>
      </div>
      <div class="">
        <p class="flex items-baseline ml-2 text-2xl font-semibold text-green-500">
          <!-- Heroicon name: solid/arrow-sm-up -->
          <svg class="self-center flex-shrink-0 w-6 h-6 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">
            Increased by
          </span>
          5.4%
        </p>
      </div>
    </div>

    <!-- <div class="relative px-4 pt-5 pb-12 overflow-hidden bg-white rounded-lg shadow sm:pt-6 sm:px-6">
      <dt>
        <div class="absolute p-3 bg-indigo-500 rounded-md">
          <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122" />
          </svg>
        </div>
        <p class="ml-16 text-sm font-medium text-gray-500 truncate">Avg. Click Rate</p>
      </dt>
      <dd class="flex items-baseline pb-6 ml-16 sm:pb-7">
        <p class="text-2xl font-semibold text-gray-900">
          24.57%
        </p>
        <p class="flex items-baseline ml-2 text-sm font-semibold text-red-600">
          <svg class="self-center flex-shrink-0 w-5 h-5 text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M14.707 10.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 12.586V5a1 1 0 012 0v7.586l2.293-2.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">
            Decreased by
          </span>
          3.2%
        </p>
        <div class="absolute inset-x-0 bottom-0 px-4 py-4 bg-gray-50 sm:px-6">
          <div class="text-sm">
            <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500"> View all<span class="sr-only"> Avg. Click Rate stats</span></a>
          </div>
        </div>
      </dd>
    </div> -->
  </dl>
</div>

  </div>
</div>


<!-- This example requires Tailwind CSS v2.0+ -->
<div id="pricing" class="bg-neutral-focus">
  <div class="px-4 pt-12 sm:px-6 lg:px-8 lg:pt-20">
    <div class="text-center">
      <h2 class="text-lg font-semibold leading-6 tracking-wider uppercase text-neutral-content text-opacity-80">
        Pricing
      </h2>
      <p class="mt-2 text-3xl font-extrabold text-neutral-content sm:text-4xl lg:text-5xl">
        The right price for you, depending on your needs
      </p>
      <p class="max-w-4xl mx-auto mt-3 text-xl text-neutral-content text-opacity-80 sm:mt-5 sm:text-2xl">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit numquam eligendi quos odit doloribus molestiae voluptatum.
      </p>
    </div>
  </div>

  <div class="pb-12 mt-16 bg-base-100 lg:mt-20 lg:pb-20">
    <div class="relative z-0">
      <div class="absolute inset-0 bg-neutral-focus h-5/6 lg:h-2/3"></div>
      <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="relative lg:grid lg:grid-cols-7">
          <div class="max-w-md mx-auto lg:mx-0 lg:max-w-none lg:col-start-1 lg:col-end-3 lg:row-start-2 lg:row-end-3">
            <div class="flex flex-col h-full overflow-hidden rounded-lg shadow-lg lg:rounded-none lg:rounded-l-lg">
              <div class="flex flex-col flex-1">
                <div class="px-6 py-10 bg-base-100">
                  <div>
                    <h3 class="text-2xl font-medium text-center text-base-content" id="tier-hobby">
                      Trimestrial
                    </h3>
                    <div class="flex items-center justify-center mt-4">
                      <span class="flex items-start px-3 text-6xl tracking-tight text-base-content">
                        <span class="mt-2 mr-2 text-4xl font-medium">
                          $
                        </span>
                        <span class="font-extrabold">
                          32
                        </span>
                      </span>
                      <span class="text-xl font-medium text-base-content text-opacity-70">
                        /month
                      </span>
                    </div>
                  </div>
                </div>
                <div class="flex flex-col justify-between flex-1 p-6 border-t-2 border-base-300 bg-base-200 sm:p-10 lg:p-6 xl:p-10">
                  <ul role="list" class="space-y-4">
                    <li class="flex items-start">
                      <div class="flex-shrink-0">
                        <!-- Heroicon name: outline/check -->
                        <svg class="flex-shrink-0 w-6 h-6 text-success" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base font-medium text-base-content text-opacity-80">
                        Pariatur quod similique
                      </p>
                    </li>

                    <li class="flex items-start">
                      <div class="flex-shrink-0">
                        <!-- Heroicon name: outline/check -->
                        <svg class="flex-shrink-0 w-6 h-6 text-success" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base font-medium text-base-content text-opacity-80">
                        Sapiente libero doloribus
                      </p>
                    </li>

                    <li class="flex items-start">
                      <div class="flex-shrink-0">
                        <!-- Heroicon name: outline/check -->
                        <svg class="flex-shrink-0 w-6 h-6 text-success" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base font-medium text-base-content text-opacity-80">
                        Vel ipsa esse repudiandae
                      </p>
                    </li>
                  </ul>
                  <div class="mt-8">
                    <a href="#" class="w-full btn btn-lg btn-outline btn-secondary" aria-describedby="tier-hobby">
                      Start your trial
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="max-w-lg mx-auto mt-10 lg:mt-0 lg:max-w-none lg:mx-0 lg:col-start-3 lg:col-end-6 lg:row-start-1 lg:row-end-4">
            <div class="relative z-10 rounded-lg shadow-xl">
              <div class="absolute inset-0 border-2 rounded-lg pointer-events-none border-primary" aria-hidden="true"></div>
              <div class="absolute inset-x-0 top-0 transform translate-y-px">
                <div class="flex justify-center transform -translate-y-1/2">
                  <span class="inline-flex px-4 py-1 text-sm font-semibold tracking-wider uppercase rounded-full text-primary-content bg-primary">
                    Most popular
                  </span>
                </div>
              </div>
              <div class="px-6 pt-12 pb-10 rounded-t-lg bg-base-100">
                <div>
                  <h3 class="text-3xl font-semibold text-center text-base-content sm:-mx-6" id="tier-growth">
                    Annual
                  </h3>
                  <div class="flex items-center justify-center mt-4">
                    <span class="flex items-start px-3 text-6xl tracking-tight text-base-content sm:text-6xl">
                      <span class="mt-2 mr-2 text-4xl font-medium">
                        $
                      </span>
                      <span class="font-extrabold">
                        25
                      </span>
                    </span>
                    <span class="text-2xl font-medium text-base-content text-opacity-70">
                      /month
                    </span>
                  </div>
                </div>
              </div>
              <div class="px-6 pt-10 pb-8 border-t-2 rounded-b-lg bg-base-200 sm:px-10 sm:py-10">
                <ul role="list" class="space-y-4">
                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      <svg class="flex-shrink-0 w-6 h-6 text-success" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium text-base-content text-opacity-80">
                      Quia rem est sed impedit magnam
                    </p>
                  </li>

                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      <svg class="flex-shrink-0 w-6 h-6 text-success" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium text-base-content text-opacity-80">
                      Dolorem vero ratione voluptates
                    </p>
                  </li>

                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      <svg class="flex-shrink-0 w-6 h-6 text-success" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium text-base-content text-opacity-80">
                      Qui sed ab doloribus voluptatem dolore
                    </p>
                  </li>

                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      <svg class="flex-shrink-0 w-6 h-6 text-success" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium text-base-content text-opacity-80">
                      Laborum commodi molestiae id et fugiat
                    </p>
                  </li>

                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      <svg class="flex-shrink-0 w-6 h-6 text-success" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium text-base-content text-opacity-80">
                      Nam ut ipsa nesciunt culpa modi dolor
                    </p>
                  </li>
                </ul>
                <div class="mt-10">
                  <a href="#" class="w-full btn btn-primary btn-lg" aria-describedby="tier-growth">
                    Start your trial
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="max-w-md mx-auto mt-10 lg:m-0 lg:max-w-none lg:col-start-6 lg:col-end-8 lg:row-start-2 lg:row-end-3">
            <div class="flex flex-col h-full overflow-hidden rounded-lg shadow-lg lg:rounded-none lg:rounded-r-lg">
              <div class="flex flex-col h-full overflow-hidden rounded-lg shadow-lg lg:rounded-none lg:rounded-l-lg">
                <div class="flex flex-col flex-1">
                  <div class="px-6 py-10 bg-base-100">
                    <div>
                      <h3 class="text-2xl font-medium text-center text-base-content" id="tier-hobby">
                        Tremestrial
                      </h3>
                      <div class="flex items-center justify-center mt-4">
                        <span class="flex items-start px-3 text-6xl tracking-tight text-base-content">
                          <span class="mt-2 mr-2 text-4xl font-medium">
                            $
                          </span>
                          <span class="font-extrabold">
                            28
                          </span>
                        </span>
                        <span class="text-xl font-medium text-base-content text-opacity-70">
                          /month
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col justify-between flex-1 p-6 border-t-2 border-base-300 bg-base-200 sm:p-10 lg:p-6 xl:p-10">
                    <ul role="list" class="space-y-4">
                      <li class="flex items-start">
                        <div class="flex-shrink-0">
                          <!-- Heroicon name: outline/check -->
                          <svg class="flex-shrink-0 w-6 h-6 text-success" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                          </svg>
                        </div>
                        <p class="ml-3 text-base font-medium text-base-content text-opacity-80">
                          Pariatur quod similique
                        </p>
                      </li>
  
                      <li class="flex items-start">
                        <div class="flex-shrink-0">
                          <!-- Heroicon name: outline/check -->
                          <svg class="flex-shrink-0 w-6 h-6 text-success" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                          </svg>
                        </div>
                        <p class="ml-3 text-base font-medium text-base-content text-opacity-80">
                          Sapiente libero doloribus
                        </p>
                      </li>
  
                      <li class="flex items-start">
                        <div class="flex-shrink-0">
                          <!-- Heroicon name: outline/check -->
                          <svg class="flex-shrink-0 w-6 h-6 text-success" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                          </svg>
                        </div>
                        <p class="ml-3 text-base font-medium text-base-content text-opacity-80">
                          Vel ipsa esse repudiandae
                        </p>
                      </li>
                    </ul>
                    <div class="mt-8">
                      <a href="#" class="w-full btn btn-lg btn-outline btn-secondary" aria-describedby="tier-hobby">
                        Start your trial
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- This example requires Tailwind CSS v2.0+ -->
<div if="faq" class="bg-base-200">
  <div class="px-4 py-12 mx-auto max-w-7xl sm:py-16 sm:px-6 lg:px-8">
    <div class="max-w-3xl mx-auto divide-y-2 divide-base-300">
      <h2 class="text-3xl font-extrabold text-center text-base-content sm:text-4xl">
        Frequently asked questions
      </h2>
      <dl class="mt-6 space-y-6 divide-y divide-base-300">
        <div x-data="{ open: false }" class="pt-6">
          <dt class="text-lg">
            <!-- Expand/collapse question button -->
            <button @click="open = !open" type="button" class="flex items-start justify-between w-full text-left text-base-content text-opacity-70" aria-controls="faq-0" aria-expanded="false">
              <span class="font-medium text-base-content">
                What&#039;s the best thing about Switzerland?
              </span>
              <span class="flex items-center ml-6 h-7">
                <!--
                  Expand/collapse icon, toggle classes based on question open state.

                  Heroicon name: outline/chevron-down

                  Open: "-rotate-180", Closed: "rotate-0"
                -->
                <svg x-state:on="Open" x-state:off="Closed" :class="{ '-rotate-180': open, 'rotate-0': !(open) }"  class="w-6 h-6 transform rotate-0" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                </svg>
              </span>
            </button>
          </dt>
          <dd class="pr-12 mt-2" x-show="open" id="faq-0">
            <p class="text-base text-base-content text-opacity-70">
              I don&#039;t know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.
            </p>
          </dd>
        </div>

        <div x-data="{ open: false }" class="pt-6">
          <dt class="text-lg">
            <!-- Expand/collapse question button -->
            <button @click="open = !open" type="button" class="flex items-start justify-between w-full text-left text-base-content text-opacity-70" aria-controls="faq-0" aria-expanded="false">
              <span class="font-medium text-base-content">
                What&#039;s the best thing about Switzerland?
              </span>
              <span class="flex items-center ml-6 h-7">
                <!--
                  Expand/collapse icon, toggle classes based on question open state.

                  Heroicon name: outline/chevron-down

                  Open: "-rotate-180", Closed: "rotate-0"
                -->
                <svg x-state:on="Open" x-state:off="Closed" :class="{ '-rotate-180': open, 'rotate-0': !(open) }"  class="w-6 h-6 transform rotate-0" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                </svg>
              </span>
            </button>
          </dt>
          <dd class="pr-12 mt-2" x-show="open" id="faq-0">
            <p class="text-base text-base-content text-opacity-70">
              I don&#039;t know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.
            </p>
          </dd>
        </div>

        <div x-data="{ open: false }" class="pt-6">
          <dt class="text-lg">
            <!-- Expand/collapse question button -->
            <button @click="open = !open" type="button" class="flex items-start justify-between w-full text-left text-base-content text-opacity-70" aria-controls="faq-0" aria-expanded="false">
              <span class="font-medium text-base-content">
                What&#039;s the best thing about Switzerland?
              </span>
              <span class="flex items-center ml-6 h-7">
                <!--
                  Expand/collapse icon, toggle classes based on question open state.

                  Heroicon name: outline/chevron-down

                  Open: "-rotate-180", Closed: "rotate-0"
                -->
                <svg x-state:on="Open" x-state:off="Closed" :class="{ '-rotate-180': open, 'rotate-0': !(open) }"  class="w-6 h-6 transform rotate-0" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                </svg>
              </span>
            </button>
          </dt>
          <dd class="pr-12 mt-2" x-show="open" id="faq-0">
            <p class="text-base text-base-content text-opacity-70">
              I don&#039;t know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.
            </p>
          </dd>
        </div>

        <div x-data="{ open: false }" class="pt-6">
          <dt class="text-lg">
            <!-- Expand/collapse question button -->
            <button @click="open = !open" type="button" class="flex items-start justify-between w-full text-left text-base-content text-opacity-70" aria-controls="faq-0" aria-expanded="false">
              <span class="font-medium text-base-content">
                What&#039;s the best thing about Switzerland?
              </span>
              <span class="flex items-center ml-6 h-7">
                <!--
                  Expand/collapse icon, toggle classes based on question open state.

                  Heroicon name: outline/chevron-down

                  Open: "-rotate-180", Closed: "rotate-0"
                -->
                <svg x-state:on="Open" x-state:off="Closed" :class="{ '-rotate-180': open, 'rotate-0': !(open) }"  class="w-6 h-6 transform rotate-0" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                </svg>
              </span>
            </button>
          </dt>
          <dd class="pr-12 mt-2" x-show="open" id="faq-0">
            <p class="text-base text-base-content text-opacity-70">
              I don&#039;t know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.
            </p>
          </dd>
        </div>

        <div x-data="{ open: false }" class="pt-6">
          <dt class="text-lg">
            <!-- Expand/collapse question button -->
            <button @click="open = !open" type="button" class="flex items-start justify-between w-full text-left text-base-content text-opacity-70" aria-controls="faq-0" aria-expanded="false">
              <span class="font-medium text-base-content">
                What&#039;s the best thing about Switzerland?
              </span>
              <span class="flex items-center ml-6 h-7">
                <!--
                  Expand/collapse icon, toggle classes based on question open state.

                  Heroicon name: outline/chevron-down

                  Open: "-rotate-180", Closed: "rotate-0"
                -->
                <svg x-state:on="Open" x-state:off="Closed" :class="{ '-rotate-180': open, 'rotate-0': !(open) }"  class="w-6 h-6 transform rotate-0" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                </svg>
              </span>
            </button>
          </dt>
          <dd class="pr-12 mt-2" x-show="open" id="faq-0">
            <p class="text-base text-base-content text-opacity-70">
              I don&#039;t know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.
            </p>
          </dd>
        </div>

        <div x-data="{ open: false }" class="pt-6">
          <dt class="text-lg">
            <!-- Expand/collapse question button -->
            <button @click="open = !open" type="button" class="flex items-start justify-between w-full text-left text-base-content text-opacity-70" aria-controls="faq-0" aria-expanded="false">
              <span class="font-medium text-base-content">
                What&#039;s the best thing about Switzerland?
              </span>
              <span class="flex items-center ml-6 h-7">
                <!--
                  Expand/collapse icon, toggle classes based on question open state.

                  Heroicon name: outline/chevron-down

                  Open: "-rotate-180", Closed: "rotate-0"
                -->
                <svg x-state:on="Open" x-state:off="Closed" :class="{ '-rotate-180': open, 'rotate-0': !(open) }"  class="w-6 h-6 transform rotate-0" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                </svg>
              </span>
            </button>
          </dt>
          <dd class="pr-12 mt-2" x-show="open" id="faq-0">
            <p class="text-base text-base-content text-opacity-70">
              I don&#039;t know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.
            </p>
          </dd>
        </div>



        <!-- More questions... -->
      </dl>
    </div>
  </div>
</div>



<!-- This example requires Tailwind CSS v2.0+ -->
<div id="cta" class="relative bg-neutral-focus">
  <div class="h-56 bg-primary sm:h-72 md:absolute md:left-0 md:h-full md:w-1/2">
    <img class="object-cover w-full h-full" src="https://images.unsplash.com/photo-1525130413817-d45c1d127c42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&q=60&blend=6366F1&sat=-100&blend-mode=multiply" alt="">
  </div>
  <div class="relative px-4 py-12 mx-auto max-w-7xl sm:px-6 lg:px-8 lg:py-16">
    <div class="md:ml-auto md:w-1/2 md:pl-10">
      <h2 class="text-base font-semibold tracking-wider uppercase text-neutral-content text-opacity-80">
        Join us
      </h2>
      <p class="mt-2 text-3xl font-extrabold tracking-tight text-neutral-content sm:text-4xl">
        Join a community of investors
      </p>
      <p class="mt-3 text-lg text-neutral-content text-opacity-80">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, egestas tempus tellus etiam sed. Quam a scelerisque amet ullamcorper eu enim et fermentum, augue. Aliquet amet volutpat quisque ut interdum tincidunt duis.
      </p>
      <div class="mt-8">
        <div class="inline-flex rounded-md shadow">
          <a href="#" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-gray-900 bg-white border border-transparent rounded-md hover:bg-gray-50">
            Visit the help center
            <!-- Heroicon name: solid/external-link -->
            <svg class="w-5 h-5 ml-3 -mr-1 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
              <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- This example requires Tailwind CSS v2.0+ -->
<footer class="mt-12 bg-base-100">
  <div class="px-4 py-12 mx-auto max-w-7xl sm:px-6 md:flex md:items-center md:justify-between lg:px-8">
    <div class="flex justify-center space-x-6 md:order-2">

      <a href="#" class="text-base-content text-opacity-80 hover:text-opacity-100">
        <span class="sr-only">Twitter</span>
        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" />
        </svg>
      </a>

      <a href="#" class="text-base-content text-opacity-80 hover:text-opacity-100">
        <span class="sr-only">Telegram</span>
        <img src="img/telegram.png" class="w-6 h-6" />
        <!-- <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" />
        </svg> -->
      </a>

      
    </div>
    <div class="mt-8 md:mt-0 md:order-1">
      <p class="text-base text-center text-opacity-80 text-base-content">
        &copy; 2020 Workflow, Inc. All rights reserved.
      </p>
    </div>
  </div>
</footer>
